.twitter-share-button:hover {
    background-position: left -20px;
}
.twitter-share-button:active {
    background-position: left -40px;
}
body {
    filter: alpha(opacity=0);
    opacity: 0px;
}
.signpainter {
    color: #e50086;
    font-size: 1.35em;
    line-height: 0.8em !important;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
}
ul li {
    list-style: none;
}
#header {
    position: relative;
    z-index: 1000;
}
#sticky-footer {
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 30px 0px;
    position: absolute;
    text-shadow: 0px 1px #fff;
    width: 100%;
    z-index: 1000;
}
#sticky-footer.sticky {
    bottom: 0px;
    position: fixed;
}
#sticky-footer h3 {
    font-size: 28px;
    font-weight: 400;
    margin: 0px 0px 10px;
}
#sticky-footer p {
    color: #959595;
    font-size: 14px;
}
.vid_arrow {
    background: url("//a2.muscache.com/airbnb/static/landing_pages/rentyourplace/play-arrow-9f1937f1890ade39d8d9a87967666446.png") left top no-repeat;
    cursor: pointer;
    height: 52px;
    left: 50%;
    margin-left: -30px;
    margin-top: -26px;
    position: absolute;
    top: 50%;
    width: 59px;
}
.video-thumb {
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
    transition: all 0.3s linear;
}
.video-thumb:hover {
    -moz-box-shadow: 0px 0px 5px 4px rgba(255, 94, 188, 0.6);
    -o-box-shadow: 0px 0px 5px 4px rgba(255, 94, 188, 0.6);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(255, 94, 188, 0.6);
    background: #e50086;
    border: 1px solid #d80e78;
    box-shadow: 0px 0px 5px 4px rgba(255, 94, 188, 0.6);
}
.matte-media-box {
    background: #fff;
}
#home-slides .story {
    cursor: pointer;
}
.downArrow {
    background: url("//a1.muscache.com/airbnb/static/jobs/new/arrow-36a548d85ada304ab3664cb7f92ed424.png") no-repeat;
    height: 171px;
    margin: 400px 0px 0px 100px;
    position: absolute;
    width: 383px;
}
#home-slides,
#content-slides {
    margin-top: -56px;
    margin: 0px;
    padding: 0px;
    position: relative;
}
#home-slides .story,
#content-slides .story {
    overflow: hidden;
    position: relative;
    width: 100%;
}
#home-slides .story .trigger-area,
#content-slides .story .trigger-area {
    height: 100%;
    position: absolute;
    width: 100%;
}
#home-slides .story .article,
#content-slides .story .article {
    position: relative;
}
#home-slides .story.slide-1,
#content-slides .story.slide-1 {
    background: #fff url("//a2.muscache.com/airbnb/static/jobs/new/bg-dome-153f38f47ef2e6e4773a71e7f8799711.jpg") right top no-repeat fixed;
    height: 1000px;
}
#home-slides .story.slide-1 h1,
#content-slides .story.slide-1 h1 {
    margin: 225px 0px 0px;
}
#home-slides .story.slide-1 #wishlistVideo,
#content-slides .story.slide-1 #wishlistVideo {
    position: absolute;
}
#home-slides .story.slide-1 #scrollHelp,
#content-slides .story.slide-1 #scrollHelp {
    color: #848484;
    display: none;
    font-size: 14px;
}
#home-slides .story.slide-2,
#content-slides .story.slide-2 {
    -moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    background: url("//a1.muscache.com/airbnb/static/jobs/new/bg-pina-67c574dab47b41285a1bb7e37b8b55dc.jpg") 50% -190px no-repeat fixed;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    height: 1000px;
}
#home-slides .story.slide-2 h1,
#content-slides .story.slide-2 h1 {
    color: #fff;
    margin: 225px 0px 0px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
#home-slides .story.slide-2 h1 .signpainter,
#content-slides .story.slide-2 h1 .signpainter {
    color: #1d95cb;
}
#home-slides .story.slide-3,
#content-slides .story.slide-3 {
    -moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    background: url("//a2.muscache.com/airbnb/static/jobs/new/bg-teepee-cbee4b4d13353401027d6353a98c5bd2.jpg") 50% 0px no-repeat fixed;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    height: 1000px;
}
#home-slides .story.slide-3 h1,
#content-slides .story.slide-3 h1 {
    color: #fff;
    margin: 225px 0px 0px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
#home-slides .story.slide-4,
#content-slides .story.slide-4 {
    -moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    background: url("//a2.muscache.com/airbnb/static/jobs/new/bg-welcome-96dedd8a1705fb86b7d1da1eb4e5bae8.jpg") 50% 0px no-repeat fixed;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    height: 1000px;
}
#home-slides .story.slide-4 h1,
#content-slides .story.slide-4 h1 {
    color: #fff;
    margin: 225px 0px 0px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}
#home-slides .story.slide-4 h1 .signpainter,
#content-slides .story.slide-4 h1 .signpainter {
    color: #1d95cb;
}
#home-slides .story.slide-5,
#content-slides .story.slide-5 {
    -moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    background: url("//a1.muscache.com/airbnb/static/jobs/new/bg-book2-1abf5e03890a7db814148b915127bd32.jpg") 50% 0px no-repeat fixed;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
    height: 1000px;
}
#home-slides .story.slide-5 h1,
#content-slides .story.slide-5 h1 {
    margin: 175px 0px 0px;
    text-shadow: 0px 1px #fff;
}
#home-slides .story.departments,
#content-slides .story.departments {
    background: url("//a2.muscache.com/airbnb/static/jobs/new/bg-departments2-94c673ca41f1da16b17bfe16039b7c38.jpg") 50% 0px no-repeat fixed;
}
#home-slides .story.department-generic,
#content-slides .story.department-generic {
    background: url("//a2.muscache.com/airbnb/static/jobs/new/bg-fuse-7b9fa0f4831a958d35596d6620dc9426.jpg") 50% 0px no-repeat fixed;
}
#home-slides .story.design,
#content-slides .story.design {
    background: url("//a0.muscache.com/airbnb/static/jobs/new/bg-design-e9531857fa70974bf267934a0182843f.jpg") 50% 0px no-repeat fixed;
}
#home-slides .story.photography,
#content-slides .story.photography {
    background: url("//a2.muscache.com/airbnb/static/jobs/new/bg-photography-d52d8d74f25ce8261b6737402f1bf982.jpg") 50% 0px no-repeat fixed;
}
#home-slides .story.translation,
#content-slides .story.translation {
    background: url("//a2.muscache.com/airbnb/static/jobs/new/bg-fuse-7b9fa0f4831a958d35596d6620dc9426.jpg") 50% 0px no-repeat fixed;
}
#home-slides .story.office_other-locations,
#content-slides .story.office_other-locations {
    background: url("//a2.muscache.com/airbnb/static/jobs/new/bg-locations-96f5674d2fab7384b067bb1291a8b686.jpg") 50% 0px no-repeat fixed;
}
#home-slides .story.engineering,
#content-slides .story.engineering {
    background: url("//a2.muscache.com/airbnb/static/jobs/new/bg-engineer2-886fe18b85dfdbd5e12671dda49b8cba.jpg") 50% 0px no-repeat fixed;
}
#home-slides .story.engineering .headerContent,
#content-slides .story.engineering .headerContent {
    margin: 85px auto 0px auto;
    position: relative;
    width: 600px;
}
#home-slides .story.engineering .headerContent h1,
#content-slides .story.engineering .headerContent h1 {
    margin-bottom: 45px;
    text-align: center;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
}
#home-slides .story.engineering .headerContent .beveled-media-box,
#content-slides .story.engineering .headerContent .beveled-media-box {
    display: block;
    margin: 0px auto;
    position: relative;
    width: 182px;
}
#home-slides .story.life,
#content-slides .story.life {
    background: url("//a1.muscache.com/airbnb/static/jobs/new/bg-culture2-269f144109c8f8e5a0ef63e7aac10c26.jpg") 50% 0px no-repeat fixed;
}
#home-slides .story.life .headerContent,
#content-slides .story.life .headerContent {
    margin: 105px auto 0px auto;
    position: relative;
    width: 600px;
}
#home-slides .story.life .headerContent h1,
#content-slides .story.life .headerContent h1 {
    color: #fff;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}
#home-slides .story.life .headerContent .beveled-media-box,
#content-slides .story.life .headerContent .beveled-media-box {
    display: block;
    margin: 0px auto;
    position: relative;
    width: 182px;
}
#home-slides .story.notfound,
#content-slides .story.notfound {
    background: url("//a0.muscache.com/airbnb/static/jobs/new/office-san-francisco-83ed55405861957bbeeaab8ba71c6581.jpg") 50% 0px no-repeat fixed;
}
#home-slides .story.notfound .headerContent,
#content-slides .story.notfound .headerContent {
    left: 50%;
    margin-left: -242px;
    margin-top: -100px;
    text-shadow: 0px 1px #000;
    top: 50%;
}
#home-slides .story h1,
#home-slides .story .headerContent,
#content-slides .story h1,
#content-slides .story .headerContent {
    font-size: 60px;
    font-weight: normal;
    line-height: 62px;
    position: absolute;
    z-index: 999;
}
#home-slides .story .headerContent h1,
#content-slides .story .headerContent h1 {
    position: relative;
}
.position {
    color: #848484;
}
.position strong {
    color: #393c3d;
    font-size: 18px;
    font-weight: bold;
}
.position ul {
    line-height: 20px;
    list-style: none;
    margin: 0px 0px 20px;
}
.position ul li {
    background: url("//a1.muscache.com/airbnb/static/jobs/new/bullet-ac525f1aa25eb303e4251bf5553207ad.png") no-repeat 10px 7px;
    line-height: 20px;
    margin: 0px 0px 5px;
    padding-left: 30px;
}
.lower-content {
    padding-top: 40px;
}
.lower-content p {
    color: #959595;
    font-size: 14px;
    line-height: 20px;
}
.lower-content section header h1 {
    margin-bottom: 10px;
}
.lower-content section header h1 .quote-name {
    font-size: 14px;
}
table tr .sort-direction {
    display: inline-block;
    height: 10px;
    width: 20px;
}
table tr .sort-direction {
    background: url("//a0.muscache.com/airbnb/static/jobs/new/sort_up-3a8cc5198982116d347b2b1c2448498c.gif") no-repeat center right;
    filter: alpha(opacity=30);
    opacity: 0.3;
}
table tr th.headerSortDown .sort-direction {
    background: url("//a0.muscache.com/airbnb/static/jobs/new/sort_up-3a8cc5198982116d347b2b1c2448498c.gif") no-repeat center right;
    filter: alpha(opacity=100);
    opacity: 1;
}
table tr th.headerSortUp .sort-direction {
    background: url("//a1.muscache.com/airbnb/static/jobs/new/sort_down-fdf7a76daa54692cfac5d452353b03bf.gif") no-repeat center right;
    filter: alpha(opacity=100);
    opacity: 1;
}
.panel-mega-pop {
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.panel-mega-pop.panel-padding {
    padding-bottom: 30px;
    padding-top: 30px;
}
.panel-mega-pop h1 {
    font-weight: 200;
    text-shadow: 0px 1px #fff;
}
.panel-mega-pop button {
    width: 200px;
}
#cboxTitle {
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
    -moz-box-sizing: border-box;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: white;
    margin: 0px auto;
    padding: 10px 15px;
    width: auto;
}
#sticky-footer.flush-header {
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.bigSlides {
    margin: 0px;
    padding: 0px;
}
.bigSlides li {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}
@media (min-width:320px) and (max-width:768px) {
    body {
        width: 1100px !important;
    }
    .story {
        background-attachment: scroll !important;
        height: 700px !important;
    }
    .slide2,
    .slide-3 {
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        -webkit-background-size: cover !important;
        background-color: transparent !important;
        background-position: center center !important;
        background-size: cover !important;
    }
    #sticky-footer {
        position: static !important;
    }
}
