article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    *display: inline;
    *zoom: 1;
    display: inline-block;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
}
a:focus {
    outline-offset: -2px;
    outline: thin dotted #333;
}
a:hover,
a:active {
    outline: 0px;
}
sub,
sup {
    font-size: 75%;
    line-height: 0px;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0px;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0px;
    vertical-align: middle;
}
button,
input {
    *overflow: visible;
    line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0px;
    padding: 0px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: #393c3d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
}
a {
    color: #1d95cb;
    text-decoration: none;
}
a:hover {
    color: #1d95cb;
    text-decoration: underline;
}

.container {
    *zoom: 1;
    margin: 0px auto 0px auto;
    position: relative;
    width: 995px;
}
.container:before,
.container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}
.row-fluid,
.row,
.row-golden,
.row-golden-fluid {
    zoom: 1;
}
.row-fluid:before,
.row-fluid:after,
.row:before,
.row:after,
.row-golden:before,
.row-golden:after,
.row-golden-fluid:before,
.row-golden-fluid:after {
    content: "";
    display: table;
    zoom: 1;
}
.row-fluid:after,
.row:after,
.row-golden:after,
.row-golden-fluid:after {
    clear: both;
}
.space1 {
    margin-bottom: 12.5px;
}
.space2 {
    margin-bottom: 25px;
}
.space3 {
    margin-bottom: 37.5px;
}
.space4 {
    margin-bottom: 50px;
}
.space5 {
    margin-bottom: 62.5px;
}
.row-fluid .span1 {
    width: 6.03%;
}
.row-fluid .span2 {
    width: 14.573%;
}
.row-fluid .span3 {
    width: 23.116%;
}
.row-fluid .span4 {
    width: 31.658%;
}
.row-fluid .span5 {
    width: 40.201%;
}
.row-fluid .span6 {
    width: 48.744%;
}
.row-fluid .span7 {
    width: 57.286%;
}
.row-fluid .span8 {
    width: 65.829%;
}
.row-fluid .span9 {
    width: 74.372%;
}
.row-fluid .span10 {
    width: 82.915%;
}
.row-fluid .span11 {
    width: 91.457%;
}
.row-fluid .span12 {
    width: 100%;
}
.row-fluid > .span1,
.row-fluid > .span2,
.row-fluid > .span3,
.row-fluid > .span4,
.row-fluid > .span5,
.row-fluid > .span6,
.row-fluid > .span7,
.row-fluid > .span8,
.row-fluid > .span9,
.row-fluid > .span10,
.row-fluid > .span11,
.row-fluid > .span12 {
    display: inline;
    float: left;
    margin-left: 2.513%;
}
.row-fluid > .span1:first-child,
.row-fluid > .span2:first-child,
.row-fluid > .span3:first-child,
.row-fluid > .span4:first-child,
.row-fluid > .span5:first-child,
.row-fluid > .span6:first-child,
.row-fluid > .span7:first-child,
.row-fluid > .span8:first-child,
.row-fluid > .span9:first-child,
.row-fluid > .span10:first-child,
.row-fluid > .span11:first-child,
.row-fluid > .span12:first-child {
    margin-left: 0px;
}
.row-fluid > .offset1 {
    margin-left: 11.055%;
}
.row-fluid > .offset2 {
    margin-left: 19.598%;
}
.row-fluid > .offset3 {
    margin-left: 28.141%;
}
.row-fluid > .offset4 {
    margin-left: 36.683%;
}
.row-fluid > .offset5 {
    margin-left: 45.226%;
}
.row-fluid > .offset6 {
    margin-left: 53.769%;
}
.row-fluid > .offset7 {
    margin-left: 62.312%;
}
.row-fluid > .offset8 {
    margin-left: 70.854%;
}
.row-fluid > .offset9 {
    margin-left: 79.397%;
}
.row-fluid > .offset10 {
    margin-left: 87.94%;
}
.row-fluid > .offset11 {
    margin-left: 96.482%;
}
.row-fluid > .offset12 {
    margin-left: 105.025%;
}
.row {
    margin-left: -25px;
}
.row > .span1,
.row > .span2,
.row > .span3,
.row > .span4,
.row > .span5,
.row > .span6,
.row > .span7,
.row > .span8,
.row > .span9,
.row > .span10,
.row > .span11,
.row > .span12 {
    display: inline;
    float: left;
    margin-left: 25px;
}
.row > .offset1 {
    margin-left: 110px;
}
.row > .offset2 {
    margin-left: 195px;
}
.row > .offset3 {
    margin-left: 280px;
}
.row > .offset4 {
    margin-left: 365px;
}
.row > .offset5 {
    margin-left: 450px;
}
.row > .offset6 {
    margin-left: 535px;
}
.row > .offset7 {
    margin-left: 620px;
}
.row > .offset8 {
    margin-left: 705px;
}
.row > .offset9 {
    margin-left: 790px;
}
.row > .offset10 {
    margin-left: 875px;
}
.row > .offset11 {
    margin-left: 960px;
}
.row > .offset12 {
    margin-left: 1045px;
}
.span1 {
    width: 60px;
}
.span2 {
    width: 145px;
}
.span3 {
    width: 230px;
}
.span4 {
    width: 315px;
}
.span5 {
    width: 400px;
}
.span6 {
    width: 485px;
}
.span7 {
    width: 570px;
}
.span8 {
    width: 655px;
}
.span9 {
    width: 740px;
}
.span10 {
    width: 825px;
}
.span11 {
    width: 910px;
}
.span12 {
    width: 995px;
}
code,
pre {
    color: #333;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 12px;
}
code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    color: #d14;
    padding: 3px 4px;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0px 0px 9px;
}

p:last-child {
    margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #393c3d;
    font-weight: bold;
    margin: 3px 0px;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 30px;
    line-height: 36px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 27px;
}

h4,
h5,
h6 {
    line-height: 18px;
}
h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}
h6 {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}
ul,
ol {
    margin: 0px 0px 9px 25px;
    padding: 0px;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0px;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li {
    line-height: 18px;
}
ul.unstyled,
ol.unstyled {
    list-style: none;
    margin: 0px;
}
dl {
    margin-bottom: 18px;
}
dt,
dd {
    line-height: 18px;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 9px;
}
hr {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #eee;
    border: 0px;
    margin: 18px 0px;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}

abbr {
    border-bottom: 1px dotted #ddd;
    cursor: help;
    font-size: 90%;
    text-transform: uppercase;
}
blockquote {
    border-left: 5px solid #bbb;
    margin: 0px 0px 18px;
    padding: 0px 0px 0px 15px;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
}
address {
    display: block;
    font-style: normal;
    line-height: 18px;
    margin-bottom: 18px;
}
small {
    font-size: 100%;
}
cite {
    font-style: normal;
}
.nav > li > a {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #5a5a5a;
    display: block;
    float: none;
    padding: 14px 10px;
    text-decoration: none;
    text-shadow: 0px 1px #fff;
}
.nav > li > a:hover {
    color: #1d95cb;
    text-decoration: none;
}
.navbar {
    margin-bottom: 18px;
    overflow: visible;
}
.navbar-inner {
    -moz-border-radius: 4px;
    -moz-box-shadow: inset 0px 0px 10px 2px #fff, 0px 0px 0px #000;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 10px 2px #fff, 0px 0px 0px #000;
    background-color: #f0f0f0;
    background: -webkit-linear-gradient(top, #fff 0px, #f9f9f9 49%, #f2f2f2 51%, #f0f0f0 100%);
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    box-shadow: inset 0px 0px 10px 2px #fff, 0px 0px 0px #000;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #fffff', endColorstr=' #fff0f0f0', GradientType=0);
    padding: 0px 20px;
}
.navbar .brand:hover {
    text-decoration: none;
}
.navbar .brand {
    color: #393c3d;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    margin-left: -20px;
    padding: 11px 20px 14px;
    text-shadow: 0px 1px white;
}
.navbar-top .navbar-inner,
.navbar-fixed-top .navbar-inner {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-bottom: 1px solid #d0d0d0;
    border-radius: 0px;
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar .nav {
    display: block;
    float: left;
    left: 0px;
    margin: 0px 10px 0px 0px;
    position: relative;
}
.navbar .nav.pull-right {
    float: right;
}
.navbar .nav > li {
    display: block;
    float: left;
}
.navbar .nav > li a {
    position: relative;
}
.navbar .nav > li > a {
    font-weight: bold;
}
.navbar .divider-vertical {
    -moz-box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8), 0px 0px 0px #000;
    -webkit-box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8), 0px 0px 0px #000;
    background-color: #e3e3e3;
    background-image: -webkit-linear-gradient(top, #fff 0px, #e3e3e3 30%, #e3e3e3 70%, #fff 100%);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8), 0px 0px 0px #000;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #fffff', endColorstr=' #ffe3e3e3', GradientType=0);
    height: 36px;
    margin: 5px 0px;
    overflow: hidden;
    width: 1px;
}
.navbar .nav.pull-right {
    margin-left: 10px;
    margin-right: 0px;
}
.panel-border {
    -moz-border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 5px;
    -webkit-box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
}
.panel-padding {
    padding: 10px 15px;
}
.panel-background-light {
    background-color: rgba(250, 250, 250, 0.9);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0px, rgba(250, 250, 250, 0.9) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #e5ffffff', endColorstr=' #e5fafafa', GradientType=0);
}
table {
    border-collapse: collapse;
    border-spacing: 0px;
    max-width: 100%;
}
.table {
    margin-bottom: 18px;
    width: 100%;
}
.table th,
.table td {
    border-top: 1px solid #ddd;
    line-height: 18px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.table th {
    font-weight: bold;
}
.table thead th {
    vertical-align: bottom;
}
.table thead:first-child tr th,
.table thead:first-child tr td {
    border-top: 0px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: #f5f5f5;
}
table .span4 {
    float: none;
    margin-left: 0px;
    width: 299px;
}
.btn {
    -moz-border-radius: 4px;
    -moz-box-shadow: inset 0px 0px 0.2em rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px #000;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 0.2em rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px #000;
    -webkit-box-sizing: border-box;
    background-color: #127eaf;
    background: -webkit-linear-gradient(top, #25a8e3 0px, #1c92c8 49%, #188bc1 51%, #127eaf 100%);
    border-color: #127eaf #1878a5 #126a94 #1878a5;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 0.2em rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px #000;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #ff25a8e3', endColorstr=' #ff127eaf', GradientType=0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
    padding: 0.4em 0.9em;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
    vertical-align: middle;
}
.btn:hover,
.btn.hover {
    -moz-box-shadow: inset 0px 0px 0.2em rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px #000;
    -webkit-box-shadow: inset 0px 0px 0.2em rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px #000;
    background-color: #148bc1;
    background: -webkit-linear-gradient(top, #37afe5 0px, #1f9fda 49%, #1a98d3 51%, #148bc1 100%);
    box-shadow: inset 0px 0px 0.2em rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px #000;
    color: #fff;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #ff37afe5', endColorstr=' #ff148bc1', GradientType=0);
    text-decoration: none;
}
.btn:active,
.btn.active {
    -moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.32), 0px 1px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.32), 0px 1px 0px rgba(255, 255, 255, 0.4);
    background-color: #188bc1;
    background-image: -webkit-linear-gradient(bottom, #25a8e3, #188bc1);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.32), 0px 1px 0px rgba(255, 255, 255, 0.4);
    color: #fff;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #ff25a8e3', endColorstr=' #ff188bc1', GradientType=0);
    text-decoration: none;
}
.btn.disabled,
.btn[disabled],
.btn.disabled {
    -moz-box-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
    -webkit-box-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
    background: #1992ca;
    box-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
    font-weight: normal;
    opacity: 0.65;
    text-shadow: 0px 0px 0px white;
}
.btn h1,
.btn h2,
.btn h3,
.btn h4,
.btn h5,
.btn h6 {
    color: #fff;
}
.btn:link,
.btn:visited {
    color: #fff;
}
.btn.large {
    font-size: 18px;
}
form {
    margin: 0px 0px 18px;
}
fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
legend {
    border-bottom: 1px solid #eee;
    border: 0px;
    color: #393c3d;
    display: block;
    font-size: 19.5px;
    line-height: 36px;
    margin-bottom: 27px;
    padding: 0px;
    width: 100%;
}
label,
input,
button,
select,
textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
input,
button,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
    display: block;
    margin-bottom: 5px;
}
input,
textarea,
select,
.uneditable-input {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #5a5a5a;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
    width: 210px;
}
select,
input[type="file"] {
    *margin-top: 4px;
    height: 28px;
    line-height: 28px;
}
select {
    background-color: #fff;
    width: 220px;
}
textarea {
    height: auto;
}
input,
select,
textarea {
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 0px #000;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 0px #000;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 0px #000;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus,
select:focus,
textarea:focus {
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 4px rgba(237, 29, 137, 0.8), 0px 0px 0px #000;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 4px rgba(237, 29, 137, 0.8), 0px 0px 0px #000;
    border-color: rgba(237, 29, 137, 0.8);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 4px rgba(237, 29, 137, 0.8), 0px 0px 0px #000;
    outline: thin dotted \9;
}
.inset-media-box,
.beveled-media-box {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    line-height: 0px;
    position: relative;
    z-index: 0px;
}
.inset-media-box img,
.beveled-media-box img {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    z-index: -1;
}
.inset-media-box:before,
.beveled-media-box:before {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.beveled-media-box {
    border: 1px solid #333;
}
.beveled-media-box:before {
    -moz-box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.8), 0px 2px 3px -2px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.8), 0px 2px 3px -2px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.8), 0px 2px 3px -2px rgba(0, 0, 0, 0.9);
}
#header .nav > li > a,
#header .nav .dropdown > a,
#header a.btn {
    text-transform: uppercase;
}
#header .nav > li > a {
    font-size: 11px;
}
#footer {
    clear: both;
    color: #aaa;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-top: 20px;
}
#footer h5 {
    border-bottom: 1px solid #eee;
    color: #aaa;
    margin-bottom: 5px;
    padding-bottom: 3px;
}
#copyright {
    color: #ccc;
    padding-top: 4px;
}
.signpainter {
    font-family: SignPainterMedium, sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}