@font-face {
    font-family: SignPainterMedium;
    font-style: normal;
    font-weight: normal;
    src: url("//a1.muscache.com/s/fonts/signpainter/signpah1-webfont.eot?#") format("eot"), url("//a1.muscache.com/s/fonts/signpainter/signpah1-webfont.woff") format("woff"), url("//a1.muscache.com/s/fonts/signpainter/signpah1-webfont.ttf") format("truetype");
}
.signpainter {
    font-family: SignPainterMedium, sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}