

/*********************************************************
/*  MAIN AREA
*/

#main-content {
    width: 1000px; height: 536px;
}

.kitchen-normal {
    background: url(../_img/kitchen.jpg) no-repeat; background-size: 100%;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    transition: all 0.50s ease-in-out;
}

.kitchen-blurry {
    background: url(../_img/kitchen-blurry.jpg) no-repeat; background-size: 100%;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    transition: all 0.50s ease-in-out;
}

.pin {
    position: absolute; width: 75px; height: 56px; margin: 0px; padding: 0px; z-index: 1000;
    background: url(../_img/small-pin.png) no-repeat; background-size: 100%;
}

.hoverable {
    position: relative; width: 50px; height: 30px; margin: 13px 18px;
    cursor: pointer;
}

.pin.knives { margin-top: 300px; margin-left: 42px; }
.pin.board { margin-top: 320px; margin-left: 105px; }
.pin.ice { margin-top: 5px; margin-left: 170px; }
.pin.unknown { margin-top: 25px; margin-left: 377px; }
.pin.tomato { margin-top: 340px; margin-left: 395px; }
.pin.bread { margin-top: 425px; margin-left: 548px; }
.pin.bus { margin-top: 40px; margin-left: 713px; }
.pin.note { margin-top: 170px; margin-left: 810px; }
.pin.noodles { margin-top: 242px; margin-left: 588px; }
.pin.pepper { margin-top: 281px; margin-left: 710px; }

.pin.active { }

.pin-route {
    display: none;
    position: absolute; width: 50px; height: 500px; margin-left: 108px; margin-top: 310px;
    border-top: 3px dashed #fff; border-left: 3px dashed #fff; 
}

/*********************************************************
/*  CONTENT DESCRIPTION
*/

.content-description {
    padding: 25px 20px 25px 32px; height: 200px; width: 100%;
}


/*********************************************************
/*  CONTENT DESCRIPTION IMAGES
*/

.content-description-image {
    float: left; width: 157px; height: 153px;
}

.image-none { background: url(../_img/pin-circle.png) no-repeat; background-size: 100%; }
.image-knives { background: url(../_img/knives.png) no-repeat; background-size: 100%; }
.image-board { background: url(../_img/tosto.png) no-repeat; background-size: 100%; }
.image-ice { background: url(../_img/ice.png) no-repeat; background-size: 100%; }
.image-unknown { background: url(../_img/question-mark.png) no-repeat; background-size: 100%; }
.image-tomato { background: url(../_img/tomato.png) no-repeat; background-size: 100%; }
.image-bread { background: url(../_img/bread.png) no-repeat; background-size: 100%; }
.image-bus { background: url(../_img/bus.png) no-repeat; background-size: 100%; }
.image-note { background: url(../_img/note.png) no-repeat; background-size: 100%; }
.image-noodles { background: url(../_img/noodles.png) no-repeat; background-size: 100%; }
.image-pepper { background: url(../_img/pepper.png) no-repeat; background-size: 100%; }


/*********************************************************
/*  CONTENT DESCRIPTION TEXT
*/

.content-description-text {
    float: right; margin: 10px 0px 10px 0px; width: 780px;
}

.content-description-text-long {
    margin-right: 25px;
    font-size: 16px/20px; color: #808080; 
}

.content-description-text-long-bold {
    font-weight: bold; font-size: 23px; color:#2a2b2b;
}

.content-description-text-short {
    float:left; width: 220px;
    font-size: 16px;
}


/*********************************************************
/*  SIGN UP
*/

.signup-form {
    float: right; margin-right: 35px;
}

.email.signup {
    font-size: 16px;
    width:280px; padding:10px;
    border: 2px solid #CCCCCC; border-radius: 4px; margin-right: 10px;
}

.button {
   cursor: pointer;
   border: 1px solid #114d1f;
   width: 190px;
   padding: 7px 55px 8px 40px;
   background: #729c16;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dcb06), to(#729c16));
   background: -webkit-linear-gradient(top, #8dcb06, #729c16);
   background: -moz-linear-gradient(top, #8dcb06, #729c16);
   background: -ms-linear-gradient(top, #8dcb06, #729c16);
   background: -o-linear-gradient(top, #8dcb06, #729c16);
   background-image: -ms-linear-gradient(top, #8dcb06 0%, #729c16 100%);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #1c6915 0 -1px 3px;
   font-weight: 400;
   font-size: 18px;
   color: #ffffff;
   text-decoration: none;
   
   /* For Internet Explorer 5.5 - 7 */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccc, endColorstr=#ffffff);
   /* For Internet Explorer 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccc, endColorstr=#ffffff)";
   background-color: #8ccb06;
   }
   
.button:hover,.button:focus {
   background: #7fad13;
   background: -webkit-gradient(linear, left top, left bottom, from(#9ee004), to(#7fad13));
   background: -webkit-linear-gradient(top, #9ee004, #7fad13);
   background: -moz-linear-gradient(top, #9ee004, #7fad13);
   background: -ms-linear-gradient(top, #9ee004, #7fad13);
   background: -o-linear-gradient(top, #9ee004, #7fad13);
   background-image: -ms-linear-gradient(top, #9ee004 0%, #7fad13 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   background: #7fad13;
   background: -webkit-gradient(linear, left top, left bottom, from(#70b80b), to(#7fad13));
   background: -webkit-linear-gradient(top, #70b80b, #7fad13);
   background: -moz-linear-gradient(top, #70b80b, #7fad13);
   background: -ms-linear-gradient(top, #70b80b, #7fad13);
   background: -o-linear-gradient(top, #70b80b, #7fad13);
   background-image: -ms-linear-gradient(top, #70b80b 0%, #7fad13 100%);
   color: #fff;
   box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.32), 0px 1px 0px rgba(255, 255, 255, 0.4);
   text-decoration: none;
}
 

.arrow.signup {
    position: absolute;
    margin: 16px 0px 0px 8px; padding: 8px 7px;
    background: url(../_img/button_arrow.png) no-repeat; background-size: 100%;
}

.margin{
	margin-top: 7px; font-style:italic; font-size:16px;
}

