

/*********************************************************
/*  HEADERS
*/

.jobs_header {
    height: 70px;
    width: 1000px;
    border-bottom: 1px solid #c20f20;
    position: fixed;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.2);
}



/*********************************************************
/*  IMAGE
*/

#bg-image {
    margin: 0px;
    padding: 0px;
    position: relative;
    background: #fff url("./background.jpg") left top no-repeat fixed;
    height: 670px;
	background-position: top;
    overflow: hidden;
    width: 100%;
}

.image_text {
	margin-top:130px;
	margin-left:370px;
    font-size:50px;
	line-height:70px;
	width:60%;
	color:white;
	text-rendering: optimizelegibility;
	text-align:right;
	font-family:source sans pro, arial;
	font-weight:200;
}
.A,.B,.C{
	background:rgba(0,0,0,0.75);
	margin-bottom:200px;
	padding:0px 20px;
}


/*********************************************************
/*  BOXES
*/

.box {
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(250, 250, 250, 0.9);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0px, rgba(250, 250, 250, 0.9) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=' #e5ffffff', endColorstr=' #e5fafafa', GradientType=0);
	height:115px;
	width:1000px;
    padding-left: 30px;
    padding-top: 40px;
}

.box.bottom {
	margin-top:50px;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.department-headline {
	margin-left:30px;
	margin-top:60px;
	line-height:10px;
	font-family: 'source sans pro', arial;
	font-weight:200;
	font-size:48px;
}

.small-box {
    -moz-box-shadow: 0px 3px 3px -4px rgba(0, 0, 0, 1);
    -o-box-shadow: 0px 3px 3px -4px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 3px 3px -4px rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 3px -4px rgba(0, 0, 0, 1);
	width:auto;	
	padding: 20px;
    margin:0px 20px;
	height:auto;
	display:block;
	text-decoration:none;
	color:#2b2a2a;
}

.small-box:hover{
    -moz-box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.2);
	text-decoration:underline;
}

.job-header{
	font-weight:bold;
}

.job-description{
	float:right;
	color:#808080;
}

h1
{
    font-size: 26px;
	line-height:35px;
	margin-top:0px;
	font-weight:400;
	
}

p {
	margin-left:30px;
	margin-top:30px;
	margin-right:30px;
	font-size:16px;
	text-align:justify;
}

.bottom-headline{
	font-size:26px;
	line-height:15px;
}

.bottom-subline{
	font-size:16px;
	color:#808080;
	line-height:25px;
}


/*********************************************************
/*  BUTTON
*/

.button {
   cursor: pointer;
   border: 1px solid #114d1f;
   width: 260px;
   padding: 10px 55px 12px 40px;
   background: #729c16;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dcb06), to(#729c16));
   background: -webkit-linear-gradient(top, #8dcb06, #729c16);
   background: -moz-linear-gradient(top, #8dcb06, #729c16);
   background: -ms-linear-gradient(top, #8dcb06, #729c16);
   background: -o-linear-gradient(top, #8dcb06, #729c16);
   background-image: -ms-linear-gradient(top, #8dcb06 0%, #729c16 100%);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #1c6915 0 -1px 3px;
   font-weight: 400;
   font-size: 22px;
   color: #ffffff;
   text-decoration: none;
   
   /* For Internet Explorer 5.5 - 7 */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccc, endColorstr=#ffffff);
   /* For Internet Explorer 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccc, endColorstr=#ffffff)";
   background-color: #8ccb06;
   }
   
.button:hover,.button:focus {
   background: #7fad13;
   background: -webkit-gradient(linear, left top, left bottom, from(#9ee004), to(#7fad13));
   background: -webkit-linear-gradient(top, #9ee004, #7fad13);
   background: -moz-linear-gradient(top, #9ee004, #7fad13);
   background: -ms-linear-gradient(top, #9ee004, #7fad13);
   background: -o-linear-gradient(top, #9ee004, #7fad13);
   background-image: -ms-linear-gradient(top, #9ee004 0%, #7fad13 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   background: #7fad13;
   background: -webkit-gradient(linear, left top, left bottom, from(#70b80b), to(#7fad13));
   background: -webkit-linear-gradient(top, #70b80b, #7fad13);
   background: -moz-linear-gradient(top, #70b80b, #7fad13);
   background: -ms-linear-gradient(top, #70b80b, #7fad13);
   background: -o-linear-gradient(top, #70b80b, #7fad13);
   background-image: -ms-linear-gradient(top, #70b80b 0%, #7fad13 100%);
   color: #fff;
   box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.32), 0px 1px 0px rgba(255, 255, 255, 0.4);
   text-decoration: none;
}

.arrow {
    position: absolute;
    margin: 10px 0px 0px 8px; padding: 8px 7px;
    background: url(../../_img/button_arrow.png) no-repeat; background-size: 100%;
}

#apply-button {
	margin-right:30px;
	margin-top:-7px;
}


/*********************************************************
/*  spans
*/

.span1 {
    width: 60px;
}
.span2 {
    width: 145px;
}
.span3 {
    width: 230px;
}
.span4 {
    width: 315px;
}
.span5 {
    width: 400px;
}
.span6 {
    width: 485px;
}
.span7 {
    width: 570px;
}
.span8 {
    width: 655px;
}
.span9 {
    width: 740px;
}
.span10 {
    width: 825px;
}
.span11 {
    width: 910px;
}
.span12 {
    width: 995px;
}



